body {
  font-family: "Montserrat", sans-serif;
}
.header {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  background-color: #132e40;
  margin: 0;
  padding: 0;
  list-style: none;
  font-weight: bolder;
}
header a {
  scroll-behavior: smooth;
}
.logo-img {
  width: 50px;
  height: 50px;
  margin: 5px 10px;
  border-radius: 12px;
}
.header a {
  text-decoration: none;
  display: block;
  padding: 1em;
  color: #fff;
  transition: 0.3s ease;
}
.header a:hover {
  color: #1d90b9;
  transition: 0.3s ease;
}
h1,
h3 {
  color: #132e40;
}
.intro {
  letter-spacing: 5px;
}
.intro-contact {
  background: -webkit-linear-gradient(white, #1d90b9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: #fff0;
}
h2 {
  color: #1d90b9;
}
.savoir {
  color: #1d90b9;
  font-weight: 400;
}
.small-images {
  margin-right: 10px;
  height: 50px;
  width: 50px;
}
#show-more {
  width: 100%;
  display: none;
}
#services-pro {
  padding: 1em;
  width: 100%;
  display: none;
  align-items: center;
  padding: 0 auto;
}
.services {
  max-width: 12ch;
}
.button1 {
  display: flex;
  border-radius: 24px;
  width: auto;
  height: auto;
  box-shadow: rgb(0 0 0 / 0.2) 0 3px 5px -1px, rgb(0 0 0 / 0.14) 0 6px 10px 0,
    rgb(0 0 0 / 0.12) 0 1px 18px 0;
  color: #1d90b9 !important;
  justify-content: center;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: 700;
}
.button1:hover {
  background-color: #1d90b9;
  color: #fff;
}
.button2 {
  display: flex;
  border-radius: 24px;
  width: auto;
  height: auto;
  box-shadow: rgb(0 0 0 / 0.2) 0 3px 5px -1px, rgb(0 0 0 / 0.14) 0 6px 10px 0,
    rgb(0 0 0 / 0.12) 0 1px 18px 0;
  color: #1d90b9;
  justify-content: center;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: 700;
}
.button2:hover {
  background-color: #1d90b9;
  color: #fff;
}
.btn-img {
  padding-left: 10px;
}
.btn-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#myCarousel {
  color: #fff;
}
.carousel-item {
  height: 40rem;
  background-color: #000;
  color: #fff;
  position: relative;
}
.carousel-container {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  width: 70%;
  margin: auto;
  padding-bottom: 50px;
  text-align: center;
}
.carousel-container > h2 {
  color: #fff;
}
.overlay-image {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  background-position: center;
  background-size: cover;
  opacity: 0.85;
}
#brands {
  text-align: center;
}
.footer {
  color: #000;
}
.footer-h2 {
  color: #1d90b9;
}
.contact-text {
  margin: 0;
  padding: 0;
}
.contact-info {
  text-align: right;
  font-weight: bolder;
}
.footer-link:link {
  color: #1d90b9;
}
.footer-link:hover {
  color: #132e40;
  font-weight: bolder;
}
.sidebar {
  position: fixed;
  top: 0;
  right: -250px;
  width: 250px;
  height: 100%;
  background-color: #132e40;
  transition: right 0.3s ease;
  z-index: 1000;
  display: flex;
  align-items: start;
}
.sidebar.show {
  right: 0;
}
.menu-btn {
  display: none;
}
@media all and (max-width: 992px) {
  .sidebar {
    padding-top: 10px;
  }
  .header {
    display: flex;
    flex-direction: column;
    align-items: start;
  }
  .heder-items {
    display: none;
  }
  .menu-btn {
    display: flex;
  }
}
.close-btn {
  position: absolute;
  top: 20px;
  right: 25px;
}
.close-btn:hover {
  background-color: #1d90b9;
}
.photo-gallery .photos {
  padding-bottom: 20px;
}
.photo-gallery .item {
  padding-bottom: 30px;
}
.footer-content {
  background-color: rgb(0 0 0 / 0.05);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.875rem;
}
.footer-link-text a {
  color: inherit;
  text-decoration: none;
}
footer a:hover {
  color: #c0392b;
}
.contact-icon {
  color: #1d90b9;
  font-size: 1.25rem;
}
.footer-link {
  color: #1d90b9;
  text-decoration: none;
  font-weight: 400;
}
.footer-link:hover,
.contact-icon:hover {
  font-weight: 600;
  color: #1d90b9;
}
.map-container {
  width: 100%;
  max-width: 100%;
  height: auto;
}
